{# @author Jonathan Claros Santande <jclaros@lysoftbo.com> #}
{% extends 'DemoBlogBundle::layout.html.twig' %}

{% block title %} Contact  {% endblock%}

{% block body %}
<header>
  <h1> Contact this Blog </h1>
</header>
    
  <p>
    want to contact this blog
  </p>
  
  {% if app.session.hasFlash('blogger-notice') %}
    <div class="blogger-notice">
      {{ app.session.flash('blogger-notice') }}
    </div>
  {% endif %}
  
  <form action="{{ path('demo_blog_base_contact') }}" method="POST" {{ form_enctype(form) }} class="blogger" >
    {{ form_errors(form) }}
    
    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.subject) }}
    {{ form_row(form.body) }}
    
    {{ form_rest(form) }}
      
      <input type="submit" value="Submit" />
      
  </form>
  
{% endblock %}

